
* {
  margin: 0px;
  padding: 0px; 
  font-family: 'Exo 2', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('https://images.unsplash.com/photo-1502741224143-90386d7f8c82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#logo {
  color: #006994;
}

#links {
  color: white; 
}

#drink {
  color: #006994;
}

.search-container {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgb(253 133 123) 100%);  
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  backdrop-filter: blur(4px);
}

.about-container {
  background:#ffffff80;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  backdrop-filter: blur(4px);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling till sökknappen */
#button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #ffffffcf;
  color: black;
  cursor: pointer; /* Byt cursor till pointer när den träffar ikonen */
  transition: 0.2s ease-in-out; /* Cursorn fadear till en pointer */
}

/* Placeholderfärg i Chrome/Opera/Safari */
::-webkit-input-placeholder { 
  color: black;
}

/* Styling till sökfältet */
input.search-field {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #ffffffcf ;
  color: black;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

.drink-container {
  margin-top: 1rem;
  overflow-y: scroll;
  max-height: 550px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background:#ffffff80;
  backdrop-filter: blur(4px);
  outline: none;
  border-radius: 10px;
}

.list-group {
  gap: 1rem;
}

.drink-list-item {
  height: 200px;
  display: flex;
  gap: 5rem;
  background:#ffffff80;
  backdrop-filter: blur(4px);
  border-radius: 20px;
  /* Om beskrivningen är för lång, scrolla i list item */
  overflow-y: scroll;
}

.drink-list-item > img {
  max-width: 30%;
  max-height: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

.drink-list-item > button {
  margin-left: auto;
}

.drink-list-item > .drink-info {
  display: flex;
  flex-direction: column;
}

.drink-list-item > .drink-info > span{
  align-self: center;
}

.drink-list-item > .drink-info > div{
  margin: auto;
}

/* Lägger Nav länkar under varandra vid mindre skärmar */ 
@media screen and (max-width: 770px) {

  .nav {
    flex-direction: column;
    width: 100%;     
  }

}

/* Denna bootstrap raden kan vi ha till att displaya bilderna */ 
/* <div class="col-12 col-md-6 col-lg-3">  */ 

